[submodule "Frameworks/RxSwift"]
	path = Frameworks/RxSwift
	url = https://github.com/ReactiveX/RxSwift.git
[submodule "Frameworks/swift-overture"]
	path = Frameworks/swift-overture
	url = https://github.com/pointfreeco/swift-overture.git
[submodule "Frameworks/RxDataSources"]
	path = Frameworks/RxDataSources
	url = https://github.com/RxSwiftCommunity/RxDataSources.git
[submodule "Frameworks/Result"]
	path = Frameworks/Result
	url = https://github.com/antitypical/Result.git
[submodule "SnapKit"]
	path = Frameworks/SnapKit
	url = https://github.com/SnapKit/SnapKit.git
